////////////////
/// 共通設定
////////////////
.container {
  --text: #fff;
  --footer: #000;
  width: 100%;
  box-sizing: content-box;
  font-size: 16px;
  overflow-x: hidden;
  background-repeat: repeat-x;
  margin: 0;
}
.footer{
  position: fixed;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  bottom: 0px;
  align-items: center;
  padding: 0 1%;
  width: 100%;
  z-index: 3;
  height: 7em;
  font-size: clamp(0.66rem, 2vw, 1rem);
  letter-spacing: 0.5em;
}



@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 425px) {}