////////////////
/// 共通設定
////////////////
.container {
  --text: #fff;
  --footer: #000;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  font-size: 16px;
  overflow-x: hidden;
  background-repeat: repeat-x;
  margin: 0;
    color: var(--text);
    z-index: 999;
    padding-top:5px ;
}
.container2{
    width: 1000px;
}
////////////////
/// header
////////////////
.header{
position: absolute;
display: flex;
justify-content: space-around;
margin:  0 auto;
height: 200px;
width: 100%;
align-items: center;
padding: 0 1%;
width: 100%;
z-index: 3;
height: 7em;
font-size: clamp(0.66rem, 2vw, 1rem);
}
.logo{
    padding: 0px;
    width: 100%;
}
.title{
font-size: 5vmax;
width: 100%;
padding-top: 30px;
text-align: center;
}
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 425px) {}